/*Eliminate all the default margins and paddings 
on the start (like the gap between the page
and the nav bar) + for debug - white border to see
every single element's padding etc.*/
* {
    margin: 0px;
    padding: 0px;
    /*border: solid 1px whitesmoke;*/ /*Debug Mode Border*/
}

/*Body to set font and color of page, and no overflow*/
body {
    background-color: #032b61;
    font-family: 'Fjalla One', sans-serif;
    overflow-x: hidden;
}

/*Setting up the nav element
his position and scale*/
.links {
    background-color: #336ebb;
    width: 100%;
    height: 60px;
    position: fixed;
}

/*Setting up position of the logo
also it gives the logo place in
the middle (this left: thingy)*/
.logo {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 49%;
}

/*On hover with a mouse both logos scale down*/
.logo:hover, .fandom:hover {
    transform: scale(0.85);
}

/*This smoothes out the transition between scaling
down on hover and moving out from the element*/
/*Why not in :hover though? Well, as I said
it smoothes out on hover AND when the mouse
moves out of the picture*/
.logo, .fandom {
    transition: transform 200ms ease;
}

/*fandom logo - setting up the pos
and the scale of the image, also
it moves it to left corner*/
.fandom {
    position: fixed;
    width: 50px;
    height: 50px;
    filter: grayscale(100%); /*filter to turn picture black&white*/
    left: 96%;
    margin-right: 20px;
    margin-top: 1px;
}

/*It sets up the link About Us
its position, text stuff*/
a.info {
    /*font/text decoration, personalization*/
    color: white;
    font-size: xx-large;
    justify-content: center;
    text-decoration-line: none;
    /*Position stuff*/
    position: fixed;
    margin-left: 20px;
    top: 10px;
    /*Amimation*/
    background: linear-gradient(to right, gray, gray 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

/*On hover it will fill the gradient that is gray to 100%*/
/*Also whole animation is in a.info just to be more smooth*/
a.info:hover {
    background-position: 0 100%;
}

/*Div of a moving text it sets
up his position and scale*/
.move {
    position: relative;
    width: 100%;
    height: 40px;
    top: 4em;
}

/*Animation in texts (from left to right)
It will initate the animation to both texts*/
p.text {
    width: fit-content;
    color: white;
    font-size: x-large;
    font-style: italic;
    letter-spacing: 4px;
    opacity: 50%;
    animation-name: leftToRight;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*keyframes from where the text needs to go
from beginnig of a page with some offset 
(-600px from the left) to the end
of a page and some offset to just
to the animation was seamless 
(1920px - fullscreen, 80px - offset)*/
@keyframes leftToRight {
    0% {transform: translateX(-650px);}
    100% {transform: translateX(2000px);}
}